<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158981572706-gah067puhjjvjd42bonep4asfminacd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158981572706-gah067puhjjvjd42bonep4asfminacd9</string>
	<key>API_KEY</key>
	<string>AIzaSyCzlYPF7AVfaeAykmhzMPruLIouT_pkTCM</string>
	<key>GCM_SENDER_ID</key>
	<string>158981572706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginSignupFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-with-firebase-51522</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-with-firebase-51522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158981572706:ios:67235d761b97f9e028e93b</string>
</dict>
</plist>